<%- include('../partials/header'); -%>

  <main class="grid">
    <section class="form__wrapper profile__form">

      <form class="update__password__form">
        <div class="row">
          <label for="password">New Password</label>
          <input type="password" name="password" id="password">
          <div class="error error--password"></div>
        </div>
        <div class="row">
          <button type="submit">Submit</button>
        </div>
      </form>

    </section>

    <%- include('../partials/profile-sidebar'); -%>

  </main>

  <script>
    const form = document.querySelector('form.update__password__form');

    let user = {}

    async function sendData(data) {
      const res = await fetch('/user/update-password/<%=user._id%>', {
        method: 'PUT',
        body: JSON.stringify(data),
        headers: {
          'Content-type': 'application/json'
        }
      });
      const response = await res.json();

      console.log(response)

      if (response.acknowledged) {
        // window.location.reload()
      } else if (response.password === 'Password must be at least 8 characters') {
        document.querySelector('.error--password').textContent = 'Password must be at least 8 characters'
      } else {
        console.log('Error -----', response)
      }

    }

    form.addEventListener('submit', (e) => {
      e.preventDefault();

      const inputs = form.querySelectorAll('input');

      inputs.forEach(input => {
        user[input.name] = input.value;
      });

      sendData(user)
    });

  </script>

  <%- include('../partials/footer'); -%>