<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe App</title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <h1 class="logo"><a href="/">Recipe App</a></h1>

      <ul class="nav__menu">
        <li>
          <a href="/">
            Add Recipe
          </a>
        </li>
        <li>
          <a href="/">
            My profile
          </a>
        </li>
      </ul>
    </nav>
  </header>