<section class="profile__sidebar">

  <a href="/profile">Profile</a>

  <a href="/profile/my-recipes">My recipes</a>

  <a href="/profile/saved-recipes">Liked recipes</a>

  <a href="/profile/update-details">Update Details</a>

  <a href="/profile/update-password">Update Password</a>

  <a href="/profile/delete-account">Delete Account</a>

</section>