* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

figure {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

body {
  font-family: 'Belleza', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-family: 'Belleza', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* header */
.header .logo {
  font-size: 1.25rem;
  font-family: 'Bitter', serif;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 2rem 0 2rem;
}

.header .navbar .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .nav__menu li a {
  padding: 1rem 2rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-family: 'Bitter', serif;
}

.header .navbar .nav__menu li a.signup {
  background-color: #59728f;
  border-radius: 8px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .navbar .nav__menu li a.signup:hover {
  background-color: #2d3d4e;
}

.header .navbar .nav__menu li a.login {
  background-color: #82b3db;
  border-radius: 8px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 1rem;
}

.header .navbar .nav__menu li a.login:hover {
  background-color: #355e8a;
}

.header .navbar .nav__menu li .sign__out__btn {
  padding: 1rem 2rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-family: 'Bitter', serif;
  background-color: #59728f;
  border-radius: 8px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .navbar .nav__menu li .sign__out__btn:hover {
  background-color: #2d3d4e;
}

@media only screen and (max-width: 800px) {
  .header .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .navbar .logo {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .header .navbar .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .navbar .nav__menu li {
    margin-bottom: 1rem;
  }
  .header .navbar .nav__menu li a.login {
    margin-right: 0;
  }
}

/* main */
main {
  padding: 4rem 2rem;
}

main.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  gap: 4rem;
}

@media only screen and (max-width: 1200px) {
  main.grid {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  main.grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* recipe grid */
.recipe__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 2rem;
}

.recipe__grid .grid__recipe {
  -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #d0d7df;
  position: relative;
}

.recipe__grid .grid__recipe:hover {
  -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
}

.recipe__grid .grid__recipe figure {
  height: 10rem;
}

.recipe__grid .grid__recipe figure img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.recipe__grid .grid__recipe h3 {
  padding: 1rem 1.25rem 0 1.25rem;
  text-transform: capitalize;
  font-family: 'Bitter', serif;
  font-size: 1.5rem;
}

.recipe__grid .grid__recipe h4 {
  padding: 0 1.25rem 0 1.25rem;
  color: rgba(77, 78, 80, 0.7);
}

.recipe__grid .grid__recipe ul.categories {
  padding: 0.5rem 1.25rem 1rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1rem;
}

.recipe__grid .grid__recipe ul.categories li {
  text-transform: capitalize;
  padding-right: 1rem;
  color: rgba(27, 36, 56, 0.7);
}

.recipe__grid .grid__recipe p.desc {
  padding: 0 1.25rem 1rem 1.25rem;
  font-size: 1.15rem;
}

.recipe__grid .grid__recipe h6.likes {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;
  background-color: #f0f1f1;
  -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
  font-family: 'Bitter', serif;
  font-size: 1.15rem;
}

@media only screen and (max-width: 450px) {
  .recipe__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* recipe page */
.recipe {
  position: relative;
}

.recipe figure {
  height: 24rem;
}

.recipe figure img {
  border-radius: 8px;
}

.recipe h1 {
  padding: 1rem 0 0.5rem 0;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}

.recipe h4 {
  padding-bottom: 0.5rem;
  color: rgba(77, 78, 80, 0.7);
}

.recipe ul.categories {
  padding: 0.5rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1rem;
}

.recipe ul.categories li {
  text-transform: capitalize;
  padding-right: 1rem;
  font-size: 1.15rem;
  color: rgba(27, 36, 56, 0.7);
}

.recipe p.desc {
  padding-bottom: 1rem;
}

.recipe ul.ingredients {
  padding-bottom: 1rem;
}

.recipe ul.ingredients h5 {
  font-size: 1.15rem;
  font-family: 'Bitter', serif;
  font-weight: 600;
  padding-bottom: 0.25rem;
}

.recipe ul.ingredients li {
  padding-bottom: 0.25rem;
  list-style: circle;
  margin-left: 1.15rem;
}

.recipe div.content {
  padding-bottom: 1rem;
}

.recipe div.content h5 {
  font-size: 1.15rem;
  font-family: 'Bitter', serif;
  font-weight: 600;
  padding-bottom: 0.25rem;
}

.recipe h6.likes {
  position: absolute;
  top: 20.75rem;
  right: 5rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 50%;
  background-color: #f0f1f1;
  -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
  font-family: 'Bitter', serif;
  font-size: 1.15rem;
}

.recipe .like__btn {
  position: absolute;
  top: 20rem;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #f0f1f1;
  -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
  font-family: 'Bitter', serif;
  font-size: 1.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipe .like__btn svg {
  width: 1.5rem;
  height: 1.5rem;
}

.recipe .delete__btn {
  background-color: #66142f;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  right: 1rem;
  top: 25rem;
}

.recipe .delete__btn:hover {
  background-color: #3b0719;
}

.form__wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.form__wrapper.profile__form {
  margin: 0;
}

.form__wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__wrapper form.new__recipe__form--image {
  display: none;
}

.form__wrapper form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
}

.form__wrapper form .row label {
  font-size: 1.15rem;
  font-family: 'Bitter', serif;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.form__wrapper form .row input,
.form__wrapper form .row textarea {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(27, 33, 39, 0.4);
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 1.15rem;
  font-family: 'Belleza', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.form__wrapper form .row button {
  font-family: 'Bitter', serif;
  font-size: 1.15rem;
  color: #fff;
  padding: 1rem;
  background-color: #23415f;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__wrapper form .row button.delete__btn {
  background-color: #e22232;
}

.form__wrapper form .row button.delete__btn:hover {
  background-color: #a70e1b;
}

.form__wrapper form .row button:hover {
  background-color: #0e1e2e;
}

.form__wrapper form .row button:focus {
  background-color: #0e1e2e;
}

.form__wrapper form .row .error {
  padding-left: 1rem;
  color: #e22232;
}

.form__wrapper form .ingplus,
.form__wrapper form .catplus {
  padding: 0 0 2rem 1rem;
  cursor: pointer;
}

.form__wrapper form .ingplus svg,
.form__wrapper form .catplus svg {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form__wrapper form .ingplus:hover svg,
.form__wrapper form .catplus:hover svg {
  opacity: 1;
}

.profile > div h3 {
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-family: 'Bitter', serif;
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 1px solid rgba(27, 36, 56, 0.4);
}

.profile > div p {
  padding-bottom: 1rem;
  font-size: 1.25rem;
}

.profile__sidebar {
  padding: 2rem;
  font-weight: 600;
  font-family: 'Bitter', serif;
  background-color: rgba(125, 129, 138, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.profile__sidebar a {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile__sidebar a:hover {
  color: #59728f;
}

/* footer */
.footer {
  margin: 4rem 0;
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Bitter', serif;
  color: rgba(27, 36, 56, 0.7);
}
/*# sourceMappingURL=style.css.map */